/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

#loader{
  height: 100vh;
  width: 50%;
  background-color:#F8C407;
  animation: loader 3.1s alternate ;

  
}
@keyframes loader{
  0%{
    width: 50%;
    
  }
  
  100%{
  
    width: 100%;
   /* display: none; */
    
  }
}

.loader-gif{
  width: 500px;
  height: 500px;
  background-color: #F8C407;
  /* border-radius: 50%; */
  background:url("../public/loader.gif") no-repeat;
  /* background-size: contain; */
  background-size: contain;
  position: absolute;
  left: 50%;
  top: 60%;
  
  transform: translate(-50% , -50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
@media (max-width:576px){
  .loader-gif{
    width: 250px;
    height:250px;
    top: 53%;
  }
}







